body {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 1280px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Main content */

.main-content {
  padding: 88px;
}

/* About me */

.about-me-container {
  margin-bottom: 64px;
}

.my-profession {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin: 0px 0px 18px 0px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 0px 0px 28px 0px;
}

.my-descr {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}

/* Projects */

.projects-container {
  margin-bottom: 48px;
}

.main-content-title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 0px 0px 8px 0px;
}

.project-list {
  margin: 0;
  padding: 0px 0 0 16px;
}

.project-item {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.project-item a {
  color: #005fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.project-item span {
  margin-left: 1px;
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Work experience */

.work-experience-container,
.education-container {
  margin-bottom: 44px;
}

.work-experience-position,
.education-position {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0px;
}

.work-experience-place,
.education-place {
  margin-bottom: 16px;
}

.work-experience-company {
  color: #6d9bf5;
}

.work-period,
.education-period {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0 8px 0px;
}

.work-period span,
.education-period span {
  color: #000;
}

.work-experience-place ul li {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.work-experience-place ul {
  margin: 0px;
  padding: 0px 0px 0px 16px;
}

/* Education */

.profession {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 12px 0px;
}

.education-position {
  color: #6d9bf5;
  margin: 12px 0px 12px 0px;
}

/* Sidebar */

.sidebar {
  width: 370px;
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  margin-top: 40px;
}

.sidebar-content {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 40px 0px 0px 40px;
}

.sidebar-title {
  color: #161d2a;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 8px;
}

/* Contacts */

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-item {
  margin: 0px;
}

.contacts-number {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contacts-email {
  color: #2979ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

/* Skills */

.skills-list {
  margin: 0px;
  padding: 0px 0px 0px 16px;
}

.skills-list li {
  color: #6d9bf5;
}

.skills-list li span {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }

  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tech-skills-container,
  .soft-skills-container {
    margin-top: 0px;
  }

  .contacts-container {
    margin-left: 0px;
  }

  .my-photo {
    width: 370px;
  }
}

/* Adaptive */

@media screen and (max-width: 1100px) {
  .main-content {
    padding: 40px;
  }

  .my-photo {
    width: 370px;
    margin: 0px;
  }
}

@media screen and (max-width: 1070px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .my-photo {
    margin: 0px;
    width: 370px;
  }

  .contacts-container {
    margin-left: 40px;
  }

  .tech-skills-container,
  .soft-skills-container {
    margin-top: 40px;
  }

  .sidebar-content {
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts-container {
    margin-top: 0px;
  }

  .sidebar-title {
    margin-top: 0px;
  }

  .skills-row {
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0px;
  }

  .my-photo {
    width: 275px;
  }

  .contacts-container {
    margin-top: 0px;
    margin-left: 40px;
  }

  .skills-row {
    margin-left: 40px;
  }

  .sidebar-content {
    flex-direction: column;
    align-items: left;
    padding-left: 0px;
  }

  .tech-skills-container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 630px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts-container {
    margin-top: 40px;
    margin-left: 5px;
  }

  .skills-row {
    margin-left: 5px;
  }

  body {
    margin: 0px;
  }
}

@media screen and (max-width: 545px) {
  .contacts-container,
  .skills-row {
    margin-left: 0px;
  }

  .contacts-item {
    display: flex;
  }

  .project-item li,
  span {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 415px) {
  .project-item span {
    display: flex;
  }

  svg {
    width: 0px;
  }
}

@media screen and (max-width: 384px) {
  .project-item span {
    margin: 0px;
    padding: 0px;
  }

  .skills-row {
    flex-direction: column;
    margin-left: 0px;
  }

  .contacts-container {
    margin-left: 0px;
  }

  .soft-skills-container {
    margin-left: 0px;
  }
}
